header {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1024px){
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 .5rem;
    }

    .logo{
        cursor: pointer;
    }

    .navbar{
        ul{
            list-style-type: none;

            @media only screen and (min-width: 1024px){
                top: 4px;
            }
        }
    }

    .icon-hamburger{
        cursor: pointer;
        z-index: 100;
        @media only screen and (min-width: 1024px){
            display: none;
        }
    }

    .sidebar{
        display: none;

        background-color: white;
        width: 65%;
        height: 100vh;
        padding: 0 1rem;
        position: absolute;
        top: 0px;
        right: 0;

        @media only screen and (min-width: 1024px){
            display: flex;

            background-color: transparent;
            height: fit-content;
            margin-top: 0;
            top: 0;
            left: 0;
            width: 100%;
        }

        .main-navbar{
            margin-top: 5rem;

            @media only screen and (min-width: 1024px){
                margin-top: 0;
                position: absolute;
                left: 10rem;
            }

            li{
                color: var(--gray);
                cursor: pointer;
                margin: 1.5rem 0;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: var(--almost-black);
                }

                @media only screen and (min-width: 1024px){
                    margin-top: 0;
                    display: inline-block;
                    margin-left: 1.5rem;
                }
            }
        }

        .login-section{
            display: block;
            position: absolute;
            top: 240px;
            right: 1rem;

            @media only screen and (min-width: 1024px){
                display: flex;
                justify-content: space-between;
                align-items: center;

                top: -12px;
            }

            .login-btn{
                background-color: transparent;
                border: none;
                color: var(--gray);
                cursor: pointer;
                font-family: inherit;
                font-size: inherit;
                margin: 0 auto;
                padding: .8rem 1rem;
                transition: all 0.3s ease-in-out;
                width: 95%;

                &:hover{
                    color: var(--almost-black);
                }
            }

            .register-btn{
                background-color: transparent;
                border: 2px solid var(--gray);
                border-radius: 1rem;
                color: var(--gray);
                cursor: pointer;
                font-family: inherit;
                font-size: inherit;
                margin: 0 auto;
                padding: .8rem 1rem;
                transition: all 0.3s ease-in-out;
                width: 95%;

                &:hover{
                    border: solid 2px var(--almost-black);
                    color: var(--almost-black);
                }
            }
        }
    }
}

.dd-menu{
    position: relative;

     &:focus, &:hover {
        .dd-menu-item{
            opacity: 1;
            pointer-events: all;
        }
    }
}

.dd-menu-item{
    opacity: 0;
    transition: opacity linear 0.3s;
    background-color: white;
    z-index: 150;
    position: absolute;
    top:  1rem;
    left: 0;
    pointer-events: none;

    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgb(151, 151, 151);
    margin-top: 0;
    width: 100%;

    @media only screen and (min-width: 1024px){
        padding: .5rem;
        width: 180px;

        top: 5rem;
    }

    li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        &:hover, &:focus{
            color: var(--almost-black)
        }
    }
}