main{

    img{
        
        height: auto;
        margin-top: 2rem;
        width: 100%;
    }

    h1{
        color: var(--almost-black);
        margin-top: 1rem;
        text-align: center;
    }

    p{
        color: var(--gray);
        margin-top: 1rem;
        text-align: center;
    }

    button{
        background-color: var(--almost-black);
        border: 2px solid var(--almost-black);
        border-radius: 1rem;
        color: var(--almost-white);
        cursor: pointer;
        display: block;
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        outline: none;
        padding: .8rem 1rem;
        transition: ease-in-out 0.3s all;
        &:hover{
            background-color: var(--almost-white);
            color: var(--almost-black);
        }
    }
    @media only screen and (min-width: 1024px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        picture{
            order: 1;
            height: auto;
            width: 80%;
        }

        .main-content{
            padding: 0 3rem;

            h1{
                font-size: 4.5rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }
            p{
                font-size: 1.5rem;
                line-height: 1.8;
                margin-bottom: 1.5rem;
                text-align: left;
            }
            button{
                border: 2px solid var(--almost-black);
                display: inline-block;
                font-size: 1.5rem;
                transition: ease-in-out 0.3s all;
                &:hover{
                    background-color: var(--almost-white);
                    color: var(--almost-black);
                }
            }
        }
    }
}