main{
    img{
        
        height: auto;
        margin-top: 2rem;
        width: 100%;
    }

    h1{
        color: var(--almost-black);
        margin-top: 1rem;
        text-align: center;
    }

    p{
        color: var(--gray);
        margin-top: 1rem;
        text-align: center;
    }

    button{
        background-color: var(--almost-black);
        border: none;
        border-radius: 1rem;
        color: var(--almost-white);
        cursor: pointer;
        display: block;
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        outline: none;
        padding: .8rem 1rem;
    }
}