.attribution { 
    color: var(--gray);
    font-family: inherit;
    font-size: 11px; text-align: center; 
    margin-top: 2rem;
}

.attribution a { 
    color: var(--almost-black); 
    text-decoration: none;
}
