@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
:root {
  --almost-white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem;
  }
}
header .logo {
  cursor: pointer;
}
header .navbar ul {
  list-style-type: none;
}
@media only screen and (min-width: 1024px) {
  header .navbar ul {
    top: 4px;
  }
}
header .icon-hamburger {
  cursor: pointer;
  z-index: 100;
}
@media only screen and (min-width: 1024px) {
  header .icon-hamburger {
    display: none;
  }
}
header .sidebar {
  display: none;
  background-color: white;
  width: 65%;
  height: 100vh;
  padding: 0 1rem;
  position: absolute;
  top: 0px;
  right: 0;
}
@media only screen and (min-width: 1024px) {
  header .sidebar {
    display: block;
    background-color: transparent;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
  }
}
header .sidebar .main-navbar {
  margin-top: 5rem;
}
@media only screen and (min-width: 1024px) {
  header .sidebar .main-navbar {
    margin-top: 0;
    position: absolute;
    left: 10rem;
  }
}
header .sidebar .main-navbar li {
  color: var(--gray);
  cursor: pointer;
  margin: 1.5rem 0;
  transition: all 0.3s ease-in-out;
}
header .sidebar .main-navbar li:hover {
  color: var(--almost-black);
}
@media only screen and (min-width: 1024px) {
  header .sidebar .main-navbar li {
    margin-top: 0;
    display: inline-block;
    margin-left: 1.5rem;
  }
}
header .sidebar .login-section {
  display: block;
  position: absolute;
  top: 240px;
  right: 1rem;
}
@media only screen and (min-width: 1024px) {
  header .sidebar .login-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -12px;
  }
}
header .sidebar .login-section .login-btn {
  background-color: transparent;
  border: none;
  color: var(--gray);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  transition: all 0.3s ease-in-out;
  width: 95%;
}
header .sidebar .login-section .login-btn:hover {
  color: var(--almost-black);
}
header .sidebar .login-section .register-btn {
  background-color: transparent;
  border: 2px solid var(--gray);
  border-radius: 1rem;
  color: var(--gray);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  transition: all 0.3s ease-in-out;
  width: 95%;
}
header .sidebar .login-section .register-btn:hover {
  border: solid 2px var(--almost-black);
  color: var(--almost-black);
}

.dd-menu {
  position: relative;
  transition: transform linear 0.3s;
}
.dd-menu:focus img, .dd-menu:hover img {
  transform: rotate(180deg);
}
.dd-menu:focus .dd-menu-item, .dd-menu:hover .dd-menu-item {
  opacity: 1;
  pointer-events: all;
}

.dd-menu-item {
  opacity: 0;
  transition: opacity linear 0.3s;
  background-color: white;
  z-index: 150;
  position: absolute;
  top: 1rem;
  left: 0;
  pointer-events: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 1px rgba(151, 151, 151, 0.77);
  margin-top: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .dd-menu-item {
    padding: 0.5rem;
    width: 180px;
    top: 5rem;
  }
}
.dd-menu-item li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.dd-menu-item li:hover, .dd-menu-item li:focus {
  color: var(--almost-black);
}

main img {
  height: auto;
  margin-top: 2rem;
  width: 100%;
}
main h1 {
  color: var(--almost-black);
  margin-top: 1rem;
  text-align: center;
}
main p {
  color: var(--gray);
  margin-top: 1rem;
  text-align: center;
}
main button {
  background-color: var(--almost-black);
  border: 2px solid var(--almost-black);
  border-radius: 1rem;
  color: var(--almost-white);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  outline: none;
  padding: 0.8rem 1rem;
  transition: ease-in-out 0.3s all;
}
main button:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
}
@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  main picture {
    order: 1;
    height: auto;
    width: 80%;
  }
  main .main-content {
    padding: 0 3rem;
  }
  main .main-content h1 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  main .main-content p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  main .main-content button {
    border: 2px solid var(--almost-black);
    display: inline-block;
    font-size: 1.5rem;
    transition: ease-in-out 0.3s all;
  }
  main .main-content button:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding: 2rem;
}
footer img {
  width: 70px;
}

@media only screen and (min-width: 1024px) {
  footer {
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  footer img {
    width: 150px;
    justify-self: center;
  }
}
.attribution {
  color: var(--gray);
  display: block;
  font-family: inherit;
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}
@media only screen and (min-width: 1024px) {
  .attribution {
    width: 100%;
  }
}

.attribution a {
  color: var(--almost-black);
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */